<!DOCTYPE html>
<html lang="en-US" dir="ltr" data-navigation-type="default" data-navbar-horizontal-shape="default">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>@ViewData["Title"] - all1box.io</title>

    <link rel="apple-touch-icon" sizes="180x180" href="/assets/icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/icon.png" />
    <link rel="shortcut icon" type="image/x-icon" href="/assets/icon.png" />

    <script src="/vendors/simplebar/simplebar.min.js"></script>
    <script src="/assets/js/config.js"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="" />
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap" rel="stylesheet" />
    <link href="/vendors/simplebar/simplebar.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css" />

    <link href="/assets/css/theme-rtl.min.css" type="text/css" rel="stylesheet" id="style_rtl" />
    <link href="/assets/css/theme.min.css" type="text/css" rel="stylesheet" id="style_default" />
    <link href="/assets/css/user-rtl.min.css" type="text/css" rel="stylesheet" id="user_style_rtl" />
    <link href="/assets/css/user.min.css" type="text/css" rel="stylesheet" id="user_style_default" />
    <style>
        .btn-priclaudia {
            --phoenix-btn-color: #fff;
            --phoenix-btn-bg: #2f6fed;
            --phoenix-btn-border-color: #2f6fed;
            --phoenix-btn-hover-color: #fff;
            --phoenix-btn-hover-bg: #265ecb;
            --phoenix-btn-hover-border-color: #265ecb;
            --phoenix-btn-focus-shadow-rgb: 47, 111, 237;
            --phoenix-btn-active-color: #fff;
            --phoenix-btn-active-bg: #214fa9;
            --phoenix-btn-active-border-color: #214fa9;
            --phoenix-btn-disabled-color: #fff;
            --phoenix-btn-disabled-bg: #8fb0f7;
            --phoenix-btn-disabled-border-color: #8fb0f7;
            color: var(--phoenix-btn-color);
            background-color: var(--phoenix-btn-bg);
            border-color: var(--phoenix-btn-border-color);
        }

        .btn-priclaudia:hover,
        .btn-priclaudia:focus {
            color: var(--phoenix-btn-hover-color);
            background-color: var(--phoenix-btn-hover-bg);
            border-color: var(--phoenix-btn-hover-border-color);
        }

        .btn-priclaudia:disabled {
            color: var(--phoenix-btn-disabled-color);
            background-color: var(--phoenix-btn-disabled-bg);
            border-color: var(--phoenix-btn-disabled-border-color);
        }
    </style>

    <script>
        var phoenixIsRTL = window.config.config.phoenixIsRTL;
        if (phoenixIsRTL) {
            document.getElementById('style_default').setAttribute('disabled', true);
            document.getElementById('user_style_default').setAttribute('disabled', true);
            document.querySelector('html').setAttribute('dir', 'rtl');
        } else {
            document.getElementById('style_rtl').setAttribute('disabled', true);
            document.getElementById('user_style_rtl').setAttribute('disabled', true);
        }
    </script>
</head>
<body>
    @RenderBody()

    <script src="/vendors/popper/popper.min.js"></script>
    <script src="/vendors/bootstrap/bootstrap.min.js"></script>
    <script src="/vendors/fontawesome/all.min.js"></script>
    <script src="/vendors/feather-icons/feather.min.js"></script>
    <script src="/vendors/is/is.min.js"></script>
    <script src="/vendors/lodash/lodash.min.js"></script>
    <script>
        window.AnchorJS = window.AnchorJS || function () {
            this.add = function () { return this; };
        };
    </script>
    <script src="/assets/js/phoenix.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
